node_modules
.env

# Hardhat build output
/artifacts
/cache

# TypeChain output
/typechain
/typechain-types

# coverage
/coverage
/coverage.json

# Hardhat Ignition default local deployments
ignition/deployments/chain-31337

